/* Canvas fonts */
@font-face {
  font-family: "Virgil2";
  src: url("Virgil2.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Virgil";
  src: url("Virgil.woff2");
  font-display: swap;
}

/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("Cascadia.woff2");
  font-display: swap;
}

/* UI fonts */
@font-face {
  font-family: "Assistant";
  src: url("Assistant-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Assistant";
  src: url("Assistant-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Assistant";
  src: url("Assistant-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Assistant";
  src: url("Assistant-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}